.Rproj.user
.Rhistory
.RData
.Ruserdata

data/*.Rds
data/Silmarillion/*.txt
data/Hunger Games/*.txt
data/The Children of Hurin/*.txt
data/Silmarillion/*.csv
data/Hunger Games/*.csv
data/The Children of Hurin/*.csv

